# Copie este arquivo para .env e preencha os valores

DEBUG=True
SECRET_KEY=django-insecure-troque-isso-em-producao

# Neon PostgreSQL (obtenha no painel do Neon em: Connection string)
DATABASE_URL=postgresql://usuario:senha@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require
